@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Livvic', sans-serif;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1130px;
  padding: 0 10px;
}

.about__hero{
  background-image: url('../images/about-hero-left.svg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #014E56;
}
.about__main{
  padding-top: 70px;
  padding-bottom: 170px;
  gap: 178px;

}
.about__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
  color: #fff;
}
.about__desc {
}
.about__red-line {
}
.about__text {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.about__desc{
  width: 730px;
}
.about__red-line{
  margin-bottom: 40px;
}
